---
import ButtonSecondary from './ButtonSecondary.astro';
import Button from '@components/base/Button.astro';
---
<div class="bg-white rounded-2xl p-6 shadow-lg flex flex-col gap-4 h-full transition-all duration-300 hover:shadow-xl hover:-translate-y-1">
    <!-- Placeholder для картинки -->
    <div class="w-full h-36 bg-slate-200 rounded-xl"></div>

    <p class="text-gray-600 leading-relaxed">
        Lorem ipsum dolor sit amet consectetur. Tincidunt nisi amet ultrices aliquet ultrices. Viverra egestas.
    </p>

    <div class="flex gap-3 mt-auto justify-center">
        <ButtonSecondary text="SERVICES" />
        <Button text="BOOK NOW" />
    </div>
</div>
