---
import Layout from "@layouts/Layout.astro";

const pageTitle = 'Our Services';
const pageDescription = 'Explore our range of professional cleaning services for homes and offices.';
const pageCanonical = 'https://example.com/services';
---

<Layout title={pageTitle} description={pageDescription} canonical={pageCanonical}>
  <h2>Services page</h2>
</Layout>
