---
import LocationTag from './LocationTag.astro';

interface Props {
    title: string;
    locations: string[];
}

const { title, locations } = Astro.props;
---

<div>
    <h3 class="mb-3 font-bold text-lg text-gray-800">{title}</h3>
    <div class="flex flex-wrap gap-2">
        {locations.map((location) => <LocationTag name={location} />)}
        <!-- Placeholder для пустых тегов -->
        <LocationTag name="..." />
    </div>
</div>
