---
import { Image } from 'astro:assets';
import servicesMap from '@assets/home/area/services-map.jpg';
---

<div class="w-full -mx-4 mt-10">
    <Image src={servicesMap} alt="Карта зоны обслуживания" class="w-full h-auto block" />
</div>
