---
import { Image } from 'astro:assets';
import servicesMap from '@assets/area/services-map.jpg';
---

<div class="flex items-center justify-center w-full h-full p-8 mt-10 bg-cyan-50/50 rounded-3xl">
    <Image src={servicesMap} alt="Карта зоны обслуживания" class="icon" />
</div>
