---
import Logo from './Logo.astro';
import Navbar from './Navbar.astro';
import Button from './Button.astro';
---

<header class="bg-white border-t-[3px] border-zinc-900 py-3 px-6 sm:px-10 shadow-sm">
    <div class="flex items-center justify-between max-w-7xl mx-auto">
        <Logo />
        <div class="flex items-center gap-9">
            <Navbar />
            <Button />
        </div>
    </div>
</header>