---
import DesktopNav from './DesktopNav.astro';
import Logo from './Logo.astro';
import MobileMenu from './MobileMenu.astro';
import Modal from '@components/base/Modal.astro';
---

<header
        id="header"
        class="bg-white border-t-[3px] border-zinc-900 py-4 px-6 sm:px-10 fixed top-0 left-0 right-0 z-50 w-full"
>
    <div class="container mx-auto flex items-center justify-between">
        <Logo />
        <DesktopNav />
        <MobileMenu />
    </div>

    <!-- Overlay для мобильного меню с glass эффектом -->
    <div
            id="overlay"
            class="fixed inset-0 bg-white/80 backdrop-blur-md z-40 hidden transition-opacity duration-300"
            aria-hidden="true"
    ></div>
</header>

<Modal />

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const header = document.getElementById('header');
        let lastScrollY = window.scrollY;

        const updateHeaderShadow = () => {
            if (window.scrollY > 0) {
                header.classList.add('shadow-xl');
            } else {
                header.classList.remove('shadow-xl');
            }
        };

        // Устанавливаем начальное состояние
        updateHeaderShadow();

        // Добавляем обработчик события прокрутки
        window.addEventListener('scroll', updateHeaderShadow);
    });
</script>