<a href="/" class="flex items-center gap-4 text-black">
    <!-- Изображение логотипа -->
    <img src="/logo.png" alt="WellKnown Cleaning Logo" width="40" height="40" class="w-[40px] h-[40px]" />
    <div class="flex flex-col leading-tight">
        <span class="font-bold text-md  tracking-wide">WellKnown</span>
        <span class="font-bold text-md  tracking-wide">Cleaning</span>
    </div>
</a>
