---
import Button from '@components/base/Button.astro';
---

<nav class="hidden md:block">
    <ul class="flex items-center gap-8">
        <li>
            <a href="/services" class="font-medium text-zinc-700 hover:text-primary transition-colors duration-300">
                Services
            </a>
        </li>
        <li>
            <a href="/pricing" class="font-medium text-zinc-700 hover:text-primary transition-colors duration-300">
                Pricing
            </a>
        </li>
        <li>
            <a href="/about" class="font-medium text-zinc-700 hover:text-primary transition-colors duration-300">
                About Us
            </a>
        </li>
        <Button text="BOOK NOW" href="/booking" />
    </ul>
</nav>
