---
import { Image } from 'astro:assets';
import howItWorkImage from '@assets/home/how/howItWorl.png';
import ProcessList from './ProcessList.astro';
import InfoBlock from './InfoBlock.astro';
---
<section class="bg-white py-16 px-8">
    <div class="max-w-7xl mx-auto">

        <div class="flex gap-8 mt-xl">
            <div class="w-2/3 flex flex-col gap-16">
                <InfoBlock />
                <ProcessList />
            </div>
            <div class="w-1/3">
                <Image
                    src={howItWorkImage}
                    alt="Как это работает - изображение"
                />
            </div>
        </div>
    </div>
</section>