---
import { Image } from 'astro:assets';
import howItWorkImage from '@assets/home/how/howItWorl.png';
import ProcessList from './ProcessList.astro';
import InfoBlock from './InfoBlock.astro';
---

<section class="section section-gap">
    <div class="max-w-7xl mx-auto">
        <!-- левая секция -->
        <div class="flex flex-col md:flex-row gap-8 mt-xl">
            <div class="w-full md:w-[calc(100%-405px)] flex flex-col gap-8 order-first md:order-1">
                <InfoBlock />
                <ProcessList />
            </div>
            <!--правая секция -->
            <div class="w-full md:w-[405px] order-last md:order-2 relative">
                <div class="w-full h-full rounded-[48px] overflow-hidden absolute inset-0">
                    <Image
                        src={howItWorkImage}
                        alt="Professional cleaning process demonstration"
                        class="w-full h-full object-cover"
                    />
                </div>
            </div>
        </div>
    </div>
</section>