---
import CardWithBackground from './CardWithBackground.astro';
import InfoCard from './InfoCard.astro';
import SectionHeader from '@components/base/SectionHeader.astro';
---

<div class="flex flex-col md:flex-row items-start gap-6 w-full">

    <!-- БЛОК С ЗАГОЛОВКОМ (первый на мобильных, второй на десктопе) -->
    <div class="w-full md:w-1/2 rounded-3xl overflow-hidden order-1 md:order-2">
        <div class="p-6">
            <div class="mb-6">
                <div class="flex justify-center md:justify-start">
                    <SectionHeader 
                        category="Cleaning Process"
                        title="How It Works"
                    />
                </div>
            </div>
            <div class="border border-gray-300 p-4 rounded-lg">
                <InfoCard
                        title="Lorem ipsum dolor sit"
                        text="Nulla velit dignissim sed ornare vulputate. Ultrices volutpat non tellus mauris ut nisi tortor vestibulum amet. Lectus vitae tincidunt posuere sem nisi est. Velit imperdiet urna vulputate in diam neque."
                        className="max-w-full"
                />
            </div>
        </div>
    </div>

    <!-- БЛОК С КАРТИНКОЙ ФОНОМ (второй на мобильных, первый на десктопе) -->
    <div class="w-full md:w-1/2 rounded-3xl overflow-hidden order-2 md:order-1">
        <CardWithBackground
            title="Lorem ipsum dolor"
            text="Sit amet consectetur. Nulla velit dignissim sed ornare vulputate. Lectus vitae tincidunt posuere sem nisi est."
        />
    </div>

</div>