---
import SectionHeader from '@components/base/SectionHeader.astro';
import CardWithBackground from './CardWithBackground.astro';
import InfoCard from './InfoCard.astro';
---

<div class="flex flex-col md:flex-row md:items-stretch gap-6 w-full">

    <!-- Правая колонка -->
    <div class="w-full md:w-1/2 order-1 md:order-2 flex flex-col justify-between">

        <!-- Заголовок -->
        <div class="px-3 mb-16 md:mb-0">
            <div class="flex justify-center md:justify-start">
                <SectionHeader
                    category="Cleaning Process"
                    title="How It Works"
                />
            </div>
        </div>

        <div class="flex justify-center mb-[16px]">
            <InfoCard
                title="Professional Service"
                text="Our professional cleaning service starts with a detailed assessment of your space. We use high-quality, eco-friendly products and advanced equipment to ensure optimal results while maintaining a safe environment for you and your family."
                className="max-w-full text-left w-full md:w-11/12 bg-[#F1F0F9] border border-slate-200 rounded-2xl p-6 shadow-sm"
            />
        </div>
    </div>

    <!-- Левая колонка с картинкой -->
    <div class="w-full md:w-1/2 order-2 md:order-1">
        <CardWithBackground
            title="Expert Team"
            text="Our trained professionals arrive with all supplies for an efficient, thorough cleaning experience. 100% satisfaction guaranteed."
        />
    </div>
</div>