---
import ProcessStep from './ProcessStep.astro';
---

<div>
    <div class="py-6 border-b border-gray-200">
        <ProcessStep
                number="1"
                title="Book"
                description="Online in 60 seconds or by phone."
        />
    </div>

    <div class="py-6 border-b border-gray-200">
        <ProcessStep
                number="2"
                title="We clean"
                description="Trained, background-checked pros."
        />
    </div>

    <div class="py-6">
        <ProcessStep
                number="3"
                title="Relax"
                description="100% satisfaction guaranteed."
        />
    </div>
</div>
